<app-navbar-user></app-navbar-user>

<div class="container-fluid mt-2">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/test"> Test de rol </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Test de nivel fronend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Test de nivel backend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Guia de estudio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Backend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              Recomendaciones de redes sociales
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Aquí coloca el contenido principal de tu página -->
      <h1 class="text-center">Rol Frontend</h1>
      <div class="container">
        <p class="text-md-start">
          El frontend es la cara visible de una aplicación, la interfaz con la
          que los usuarios interactúan directamente. Su función principal es
          proporcionar una experiencia de usuario intuitiva y atractiva. A
          continuación, se describen las actividades, responsabilidades,
          objetivos y enfoques clave en la programación del frontend.
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://youtu.be/137Q1tSkZ-I?si=Pqi66DB265EH_YY2"
            allowfullscreen
          ></iframe>
        </div>
        <h2>Actividades del Fronted:</h2>
        <p>
          1.-<strong>Desarrollo de Interfaz de Usuario (UI):</strong> <br />
          *Implementar diseños de interfaz de usuario atractivos y funcionales.
          <br />
          *Utilizar HTML, CSS y JavaScript para crear páginas web interactivas.
          <br />
          <br /><strong>2.-Integración con Backend: </strong><br />*Conectar con
          el backend para obtener y enviar datos. <br />*Consumir APIs y
          servicios web para obtener información dinámica. <br /><br />
          <strong>3.-Optimización de Rendimiento:</strong><br />
          *Optimizar el rendimiento de la interfaz para cargar rápidamente en
          diferentes dispositivos y velocidades de conexión.
          <br />
          <br /><strong>4.-Compatibilidad entre Navegadores:</strong><br />
          *Garantizar que la aplicación funcione de manera consistente en diferentes navegadores y dispositivos.
          <br />
          
          <br />
          <strong> 5.-Animaciones y Transiciones: </strong><br />
          *Implementar animaciones y transiciones para mejorar la experiencia del usuario y hacer la interfaz más atractiva.
        </p>
        <h2>Resumen</h2>
        <p>
          En resumen, el frontend juega un papel esencial al crear interfaces de
          usuario atractivas y funcionales. Su enfoque se centra en la
          usabilidad, el rendimiento y la experiencia del usuario, trabajando en
          colaboración con el backend para ofrecer aplicaciones completas y
          eficientes.
        </p>
      </div>
    </main>
  </div>
</div>
<footer class="bg-dark text-light text-center p-3">
  <p>&copy; 2023 GuiaDevs. Todos los derechos reservados.</p>
</footer>
