<app-navbar-user></app-navbar-user>

<div class="container-fluid mt-2">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/backend">
              Backend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/frontend">
              Frontend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/test">
              Test de programacion
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" routerLink="/guias">
                Rutas de estudio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/recomendaciones">
                Recomendaciones de redes sociales
              </a>
            </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Aquí coloca el contenido principal de tu página -->
      <h1 class="text-center">Rutas de estudio</h1>
      <div class="container">
        <p class="text-md-start">
          Esta ruta proporciona una estructura paso a paso para desarrollar
          habilidades tanto en frontend como en backend. A medida que avanzas,
          recuerda que la práctica y la construcción de proyectos reales son
          clave para el aprendizaje efectivo. ¡Buena suerte en tu viaje de
          desarrollo web!
        </p>
        <div class="row">
          <div class="col-6">
           
           <img src="../assets/img/infoback.png"
                class="card-img-top w-90 h-90"
                alt="Imagen 1"
                style="width: 500px">
          </div>
          <div class="col-6">
            <img src="../assets/img/infofront.png"
                class="card-img-top w-90 h-90"
                alt="Imagen 1"
                style="width: 500px">
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<footer class="bg-dark text-light text-center p-3 mt-3">
  <p>&copy; 2023 GuiaDevs. Todos los derechos reservados.</p>
</footer>
