<app-navbar-user></app-navbar-user>

<div class="container-fluid mt-2">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/test"> Test de rol </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Test de nivel fronend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Test de nivel backend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Guia de estudio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Backend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              Recomendaciones de redes sociales
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Aquí coloca el contenido principal de tu página -->
      <h1 class="text-center">Rutas de estudio</h1>
      <div class="container">
        <p class="text-md-start">
          Esta ruta proporciona una estructura paso a paso para desarrollar
          habilidades tanto en frontend como en backend. A medida que avanzas,
          recuerda que la práctica y la construcción de proyectos reales son
          clave para el aprendizaje efectivo. ¡Buena suerte en tu viaje de
          desarrollo web!
        </p>
        <div class="row">
          <div class="col-6">
            <h1 class="text-center">Backend</h1>
            <h5><strong> 1. Fundamentos del Desarrollo Backend:</strong></h5>
            <p>
              <strong>Lenguajes de Programación:</strong><br />
              *Node.js (JavaScript/TypeScript), Python, Ruby, Java, o PHP:
              Selecciona y profundiza en un lenguaje. <br />
              <strong>
                Conceptos Básicos de Redes y Protocolos HTTP/HTTPS:
              </strong>
              <br />*Comprende cómo funcionan las solicitudes y respuestas en la
              web.
            </p>

            <h5><strong> 2. Frameworks Backend:</strong></h5>
            <strong
              >Express (Node.js), Flask (Python), Ruby on Rails (Ruby), Spring
              Boot (Java), Laravel (PHP):</strong
            >
            <br />
            *Elige y profundiza en uno según tu lenguaje de elección. <br />
            <br />
            <h5>3.Bases de Datos:</h5>
            <strong>SQL (MySQL, PostgreSQL) o NoSQL (MongoDB):</strong><br />
            *Aprende a interactuar y gestionar datos utilizando bases de datos.
            <br />
            <br />
            <h5>4. APIs (RESTful y GraphQL):</h5>
            <strong>Diseño y Documentación de APIs:</strong><br />*Comprende
            cómo diseñar y documentar APIs efectivas. Consumo de APIs: Aprende a
            integrar servicios externos en tu aplicación. <br />
            <br />
            <h5>5. Seguridad Backend:</h5>
            <strong> SSL/TLS, Autenticación y Autorización:</strong> <br />
            *Garantiza la seguridad en la comunicación y en el acceso a
            recursos. Kubernetes.
          </div>
          <div class="col-6">
            <h1 class="text-center">Frontend</h1>
           <h5> 1. Fundamentos de Desarrollo Web: </h5>
          <strong>  HTML:</strong> Estructura básica de las
            páginas web. <br>
        <strong>CSS:</strong>  Estilo y diseño de las páginas web. JavaScript:
            Interactividad y dinamismo en el lado del cliente. <br><br>
           <h5> 2. Herramientas de Desarrollo Frontend: </h5>
            <strong> Editores de Código:</strong> <br> *Familiarízate con Visual
            Studio Code, Atom, Sublime Text, etc. 
            <strong> Navegadores Web: </strong> <br>*Conoce las
            herramientas de desarrollo de Chrome, Firefox, etc. <br><br>
           <h5>3. Frameworks de
            JavaScript:</h5>  
           <strong> React, Angular o Vue.js: </strong> <br>*Elige y profundiza en uno de
            estos frameworks para el desarrollo eficiente de interfaces de
            usuario. <br><br>
            <h5>4. Manejo de Estado:</h5> 
             <strong>Redux (para React), Vuex (para Vue):</strong><br>
            *Comprende cómo gestionar el estado de la aplicación de manera
            efectiva.  <br> <br>
            <h5>5. Responsive Design:</h5>  <strong> Media Queries:</strong><br> *Diseña páginas web
            que se adapten a diferentes tamaños de pantalla. <br> <strong> Flexbox y Grid:</strong> <br>
            *Aprende a utilizar estas tecnologías para diseñar interfaces
            flexibles.
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<footer class="bg-dark text-light text-center p-3 mt-3">
  <p>&copy; 2023 GuiaDevs. Todos los derechos reservados.</p>
</footer>
