<app-navbar-user></app-navbar-user>

<div class="container-fluid mt-2">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/backend">
              Backend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/frontend">
              Frontend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/test">
              Test de programacion
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" routerLink="/guias">
                Rutas de estudio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/recomendaciones">
                Recomendaciones de redes sociales
              </a>
            </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Aquí coloca el contenido principal de tu página -->
      <h1 class="text-center">Recomendaciones</h1>
      <p>
        ¡Bienvenido a nuestra comunidad de desarrolladores apasionados! En
        nuestra era digital, donde pasamos la mayor parte del tiempo en nuestros
        dispositivos móviles, las redes sociales se han convertido en un canal
        vital para aprender, compartir y conectarse con otros entusiastas de la
        programación. Aquí te damos algunas razones por las cuales seguir a
        desarrolladores en plataformas como TikTok, Instagram, Facebook, Twitter
        o Twitch puede ser una experiencia educativa y entretenida:
      </p>
      <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Tarjeta 1 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/Fernando.jpg"
                class="card-img-top w-90 h-90"
                alt="Imagen 1"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">Fernando Herrera</h5>
                <p class="card-text">
                    Full-Stack Developer & Teacher, Realiza cursos y comparte mucha información en twitter de sus cursos.
                </p> <br>
                <a class="btn btn-primary" href="https://trycatch.tv/" target="_blank">Visualizar</a>
              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/midudev.jpg"
                class="card-img-top"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">Miguel Ángel (midudev) Durán García</h5>
                <p class="card-text">
                    Programación JavaScript y Desarrollo Web. comparte informacion de programacion todos los dias.
                </p>
                
                  <a class="btn btn-primary" href="https://www.youtube.com/@midulive" target="_blank">Visualizar</a>
                  
                
              </div>
            </div>
          </div>

          <!-- Tarjeta 3 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/try.jpg"
                style="height: 240px"
                class="card-img-top"
                alt="Imagen 3"
              />
              <div class="card-body">
                <h5 class="card-title">Julián Darío Luna Patiñ (try catch tv)</h5>
                <p class="card-text">
                    Sr. Engineer Lead, el fundador de comunidades en latinoamerica sobre Programación
                </p>
                <a class="btn btn-primary" href="https://trycatch.tv/" target="_blank">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Tarjeta 1 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/edteam.jpg"
                style="height: 220px"
                class="card-img-top"
                alt="Imagen 1"
              />
              <div class="card-body">
                <h5 class="card-title">EDteam</h5>
                <p class="card-text"> <br> <br>

                  Plataformas de cursos y pagina donde comparte informacion muy valiosa.
                </p>
               
                <a class="btn btn-primary" href="https://www.facebook.com/EDteamLat" target="_blank">Visualizar</a>

              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/you.jpg"
                style="height: 220px"
                class="card-img-top"
                alt="Imagen 2"
              />
              <div class="card-body">
                <h5 class="card-title">MoureDev by Brais Moure</h5>
                <p class="card-text"> <br>
                  Informático freelance emprendedor, realiza buenos videos de programacion
                </p>
                <br />
                
                <a class="btn btn-primary" href="https://www.youtube.com/@mouredev" target="_blank">Visualizar</a>

              </div>
            </div>
          </div>

          <!-- Tarjeta 3 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/dimini.jpg"
                style="height: 220px"
                class="card-img-top"
                alt="Imagen 3"
              />
              <div class="card-body">
                <h5 class="card-title">Dominicode</h5>
                <p class="card-text">
                  Dominicode es una comunidad sobre programación para todos los países de habla hispana.
                </p>
                <br />
                <a class="btn btn-primary" href="https://www.youtube.com/@DominiCode" target="_blank">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<footer class="bg-dark text-light text-center p-3">
  <p>&copy; 2023 GuiaDevs. Todos los derechos reservados.</p>
</footer>
