<app-navbar-user></app-navbar-user>

<div class="container-fluid mt-2">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/backend">
              Backend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/frontend">
              Frontend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/test">
              Test de programacion
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" routerLink="/guias">
                Rutas de estudio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/recomendaciones">
                Recomendaciones de redes sociales
              </a>
            </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Aquí coloca el contenido principal de tu página -->
      <h1 class="text-center mt-3">Comunidades y eventos</h1>
      <p>
        ¡Explora y descubre un mundo de oportunidades en el fascinante universo
        de la programación! Nuestra aplicación te conecta con vibrantes
        comunidades y emocionantes eventos que te permitirán sumergirte en el
        apasionante campo de la tecnología.
      </p>
      <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Tarjeta 1 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/discord.png"
                class="card-img-top w-90 h-90"
                alt="Imagen 1"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">Comunidad devlatam</h5>
                <p class="card-text">
                  Comunidad de desarrolladores de latinoamerica donde puedes
                  participar en proyectos
                </p>
                <br />
                <a
                  class="btn btn-primary"
                  href="https://trycatch.tv/"
                  target="_blank"
                  >Visualizar</a
                >
              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/evento1.jfif"
                class="card-img-top"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">Enjoy Thinking Ciudad de México 2023</h5>
                <p class="card-text">
                  <strong>Ubicacion:</strong> Papalote Museo del Niño<br />
                  <strong>Horario:</strong> Jue., 23 de nov. de 2023 8:00 -
                  18:00 CST<br />
                </p>
                <br />
                <a
                  class="btn btn-primary"
                  href="https://www.youtube.com/@midulive"
                  target="_blank"
                  >Visualizar</a
                >
              </div>
            </div>
          </div>

          <!-- Tarjeta 3 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/evento3.jpeg"
                class="card-img-top"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">
                  DevMemphis - A Meetup for Memphis Software Developers
                </h5>
                <p class="card-text">
                  <strong>Ubicacion:</strong> 460 S Highland St, Memphis, TN,
                  EE. UU.<br />
                  <strong>Horario:</strong> jue, 7 dic, 12:00 – 1:30 a.m.<br />
                </p>

                <a
                  class="btn btn-primary"
                  href="https://www.youtube.com/@midulive"
                  target="_blank"
                  >Visualizar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Tarjeta 1 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/evento4.jpeg"
                class="card-img-top"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">Aprenda Computers & Tech</h5>
                <p class="card-text">
                  <strong>Ubicacion:</strong> 11331 Airline Dr, Houston, TX,
                  Estados Unidos<br />
                  <strong>Horario:</strong>mar, 5 dic, 5:00 – 6:45 p.m.<br />
                </p>
                <br />

                <a
                  class="btn btn-primary"
                  href="https://www.youtube.com/@midulive"
                  target="_blank"
                  >Visualizar</a
                >
              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/evento7.jpeg"
                class="card-img-top"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Aprende a programar con Swift Playgrounds
                </h5>
                <p class="card-text">
                  <strong>Ubicacion:</strong>Vasco de Quiroga 3800, Lomas de
                  Santa Fe, Contadero, Ciudad de México, CDMX
                  <br />
                  <strong>Horario:</strong> dom, 3 dic, 3:30 – 4:30 p.m.<br />
                </p>

                <a
                  class="btn btn-primary"
                  href="https://www.youtube.com/@midulive"
                  target="_blank"
                  >Visualizar</a
                >
              </div>
            </div>
          </div>

          <!-- Tarjeta 3 -->
          <div class="col">
            <div class="card">
              <img
                src="../assets/img/evento6.jpeg"
                class="card-img-top"
                style="height: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">Taller de programación de PLC</h5>
                <p class="card-text">
                  <strong>Ubicacion:</strong>
                  Pescaditos 3, Colonia Centro, Centro, Ciudad de México,
                  CDMX<br />
                  <strong>Horario:</strong> jue, 7 dic, 9:00 – 11:30 a.m.<br />
                </p>
                <br>
                <a
                  class="btn btn-primary"
                  href="https://www.youtube.com/@midulive"
                  target="_blank"
                  >Visualizar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<footer class="bg-dark text-light text-center p-3">
  <p>&copy; 2023 GuiaDevs. Todos los derechos reservados.</p>
</footer>
