<app-navbar-user></app-navbar-user>

<div class="container-fluid mt-2">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/test"> Test de rol </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Test de nivel fronend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Test de nivel backend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Guia de estudio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Backend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              Recomendaciones de redes sociales
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Aquí coloca el contenido principal de tu página -->
      <h1 class="text-center">Rol Backend</h1>
      <div class="container">
        <p class="text-md-start">
          El rol del backend en el desarrollo de software es crucial para
          garantizar el funcionamiento eficiente y seguro de las aplicaciones.
          El backend se
          <strong>encarga de la lógica y la gestión de datos, </strong>
          trabajando en segundo plano para respaldar la experiencia del usuario
          proporcionada por el frontend. A continuación, se detallan las
          actividades, responsabilidades, objetivos y enfoque en la programación
          del backend.
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://youtu.be/137Q1tSkZ-I?si=Pqi66DB265EH_YY2"
            allowfullscreen
          ></iframe>
        </div>
        <h2>Actividades del Backend:</h2>
        <p>
          1.-<strong>Logica de negocios:</strong> <br />
          *Desarrollar la lógica de negocio que impulsa las funcionalidades
          principales de la aplicación. <br />*Implementar algoritmos y reglas
          de negocio para procesar y manipular datos. <br />
          <br /><strong>2.-Gestión de Datos: </strong><br />*Diseñar y mantener
          la estructura de la base de datos. <br />*Desarrollar consultas
          eficientes para acceder y manipular datos de manera rápida y segura.
          <br /><br />
          <strong>3.-Seguridad:</strong><br />
          *Implementar medidas de seguridad, como autenticación y autorización,
          para proteger la integridad de los datos y la privacidad del usuario.
          <br />*Realizar auditorías de seguridad y aplicar parches para abordar
          vulnerabilidades. <br />
          <br /><strong>4.-Integración de Sistemas:</strong><br />
          *Conectar la aplicación con servicios externos, APIs y otros sistemas.
          <br />
          *Asegurar una comunicación eficiente entre el frontend y otros
          componentes. <br />
          <br />
          <strong> 5.-Manejo de Errores y Excepciones: </strong><br />
          *Implementar estrategias para manejar errores y excepciones de manera
          adecuada. <br />*Registrar y monitorear errores para facilitar la
          resolución de problemas.
        </p>
        <h2>Resumen</h2>
        <p>
          En resumen, el backend desempeña un papel esencial en el desarrollo de
          software al gestionar la lógica de negocio, la gestión de datos y la
          seguridad, con el objetivo de proporcionar aplicaciones eficientes,
          confiables y seguras para los usuarios.
        </p>
      </div>
    </main>
  </div>
</div>
<footer class="bg-dark text-light text-center p-3">
  <p>&copy; 2023 GuiaDevs. Todos los derechos reservados.</p>
</footer>
